:root {
    --header-height: 100px;
}

body {
    font-family: arial;
    margin: 0;
    padding: 0;
    background-color: #4c4c4c;
}

.header {
    position: fixed;
    width: 100%;
    height: var(--header-height);
    background-color: #000;
    color: #fff;
}

.game-container {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(100% - var(--header-height));
    top: var(--header-height);
}  