:root {
    --header-height: 100px;
    --bg-color: #BDBDBD;
}
@font-face {
    font-family: roboto;
    src: url('res/roboto.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: product-sans;
    src: url('res/product-sans.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: roboto, arial;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    cursor: default;
}

.header {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--header-height);
    background-color: #0D47A1;
    box-shadow: 0 3px 6px rgba(0,0,0,.2);
    background-image: url(res/quoridor.png);
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: 30px center;
}
.header-title {
    font-family: product-sans, roboto, arial;
    color: #fff;
    font-size: 2.5rem;
    margin-left: 130px;
}
.header-turn {
    color: #fff;
    background-color: rgba(0, 0, 0, .3);
    margin-left: 20px;
    padding: 6px 10px;
    border-radius: 6px;
    transition: background-color .2s linear;
}
.header-copy {
    position: absolute;
    display: block;
    right: 26px;
    width: 60px;
    height: 60px;
    background-image: url(res/share.svg);
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    transition: background-color .2s linear;
}
.header-copy:hover {
    background-color: rgba(0, 0, 0, .2);
}

.game-container {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(100% - var(--header-height));
    top: var(--header-height);
}
#game_canvas {
    border: 10px solid #3E2723;
    image-rendering: crisp-edges;
}

.walls-counter {
    position: absolute;
    width: 70px;
    border: 6px solid #5c5c5c;
    background-color: var(--bg-color);
    border-radius: 10px;
    right: 10px;
    top: calc(var(--header-height) + 10px);
    font-family: product-sans, roboto, arial;
    font-size: 1.3rem;
    text-align: center;
    color: #5c5c5c;
}
.walls-title {
    display: block;
}
#game_walls {
    font-size: 2rem;
}